@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: poppins;
}

.heading{
    font-family: poppins;
    margin-top: 10px;
    padding: 100px;

}

.Input{
    display: flex;
    flex-direction: column;
    
}

.Inputfield{
    width: 50%;
    height: 30px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.Addbtn{
    width: 30%;
    height: 30px;
    border-radius: 20px;
    margin: auto;
    background-color: cadetblue;
    color: black;
}

.removebtn{
    width: 10%;
    height: 25px;
    border-radius: 20px;
    margin: auto;
    background-color: maroon;
    color: black;
    margin-left: 20px;
}

.List li{
    margin-bottom: 20px;
    margin-right: 20px;
    list-style: none;
}

.cross{
    text-decoration: line-through;
}
.none{
    text-decoration: none;
}